{:source-paths ["src" "test"]
 :dependencies [[reagent "1.0.0-alpha2"]
                [re-frame "1.1.1"]
                [org.clojure/tools.reader "1.3.3"]]
 :builds {:app {:target :browser
                :output-dir "dist/js"
                :js-options {:js-provider :require}
                :modules {:main {:init-fn kosmos.core/start!}}}}}
