{:source-paths ["src" "test"]
 :dependencies []
 :builds {:app {:target :browser
                :output-dir "dist/js"
                :js-options {:js-provider :require}
                :modules {:main {:init-fn kosmos.core/start!}}}}}
